.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  text-align: center;
  margin: 10px;
  background-color: lightgray;
  border-radius: 5px;
  background-color: black;
}

.counters-container {
  margin-top: 195px;
  height: 650px;
  overflow-y: scroll;
}

.counter .count {
  text-align: center;
  background-color: white;
  padding: 7px 14px;
  border-radius: 4px;
  margin: 15px;
}

.counter button {
  border-radius: 6px;
  font-size: 30px;
  margin: 15px;
  background-color: black;
  border: 2px solid green;
  color: green;
}

.total {
  width: 50px;
  position: fixed;
  top: 0;
  left: 30px;
  font-size: 200px;
  font-weight: bold;
  color: black;
}

.form {
  padding: 20px;
  position: fixed;
  top: 200px;
  left: 5px;
  background-color: black;
  color: green;
}

.form input {
  width: 175px;
  padding: 5px;
  font-size: 20px;
  background-color: black;
  color: green;
  border: 2px solid green;
}

.form input[type="text"]::placeholder {
  color: green;
}

.form button {
  margin-left: 5px;
  padding: 5px;
  font-size: 20px;
  background-color: green;
  color: black;
  border: 2px solid green;
}





